version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017"

  backend:
    image: yusuf123shafique/mean-backend:latest
    container_name: mean-backend
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/testdb
    ports:
      - "8080:8080"

  frontend:
    image: yusuf123shafique/mean-frontend:latest
    container_name: mean-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "4200:80"

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    depends_on:
      - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
